body {
    margin: 0;
    font-family: Arial;
    background: #f5f5dc;
}

.sidebar {
    width: 220px;
    height: 200vh;
    background: #1b5e20;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #1b5e20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
}

button:hover {
    background-color: #145a1a;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea,
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #1b5e20;
    color: white;
}

table tr:hover {
    background-color: #f0f0f0;
}
.logo-barra {
    height: 210px;
    position: absolute;
    left: 500px;   /* lo aleja del borde izquierdo */
    top: 300px;     /* lo baja un poco desde arriba */
    z-index: 1000; /* lo pone por encima de todo */
    margin-right: 20%
}
