body {
    background: #1b5e20;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.login-box {
    width: 300px;
    background: #f5f5dc;
    padding: 20px;
    margin: 150px auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    min-width: 150px;
    width: 85%;
}

button:hover {
    background-color: #1b5e20;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
